<div class="wrapper">
  <div class="row">
    <form class="form-horizontal">
      <div class="form-body">
        <div class="col-md-12">
          <div class="caption custom-caption">
            <span class="caption-subject"><i class="glyphicon glyphicon-asterisk"></i>Total items bill Report</span>
          </div>
          <div class="col-md-6">
            <from-to-date-select (on-change)="OnFromToDateChange($event)" [date-settings-name]="'billing-reports'">
            </from-to-date-select>
          </div>

          <div class="col-md-4 col-xs-12">
            <div class="form-group">
              <label class="control-label col-md-4">Is Insurance<b style="float:right;">:</b></label>
              <div class="col-md-6">
                <input style="margin-top: 10px;" type="checkbox" [(ngModel)]="IsInsuranceBilling" (ngModelChange)="OnCheckboxChange($event)"
                       [ngModelOptions]="{standalone: true}" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-8 col-xs-12">
          </div>
          <div class="col-md-4 col-xs-12 float-right">
            <div class="form-group row">
              <div class="col-md-6 col-xs-12">
                <button class="btn green btn-success" type="button" (click)="Load()" [disabled]="loading">
                  <i class="fa fa-search"></i> Show Report
                </button>
              </div>
              <div class="col-md-6 col-xs-12">
                <button class="btn green btn-success" type="button" (click)="AdvanceSearch()" [disabled]="loading">
                  <i></i> Advance Filter
                </button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <danphe-grid [grid-colDefaults]="TotalItemsBillReportColumns" [grid-data]="TotalItemsBillReporttData"
                   [NepaliDateInGridParams]="NepaliDateInGridSettings" [grid-exportOptions]="gridExportOptions"
                   [grid-showExport]="true" [grid-footer-content]="footerContent" [report-for]="'billing'"
                   [grid-date-range]="dateRange"> </danphe-grid>
    </div>
  </div>
  <br />
  <br />


  <div class="row">
    <div class="col-md-5" style="margin-top:10px;margin-bottom: 10px;" id="dvSummary_TotalItemBills">
      <div *ngIf="TotalItemsBillReporttData.length>0">
        <h4>Summary</h4>
        <table border="1" style="width: 80%;">
          <tr>
            <th>
              SN
            </th>
            <th>
              Particulars
            </th>

            <th>
              Amount
            </th>
          </tr>
          <tr>
            <td>A</td>
            <td>Cash Sales </td>
            <td>{{summary_new.Cash.SubTotal | number}}</td>
          </tr>
          <tr>
            <td>B</td>
            <td>Credit Sales </td>
            <td>{{summary_new.Credit.SubTotal | number}}</td>
          </tr>
          <tr style="font-weight: bold;color: blue;">
            <td style="font-weight: normal;color:black;">C</td>
            <td>Gross Sales (A+B) </td>
            <td>{{summary_new.GrossSales | number}}</td>
          </tr>
          <tr>
            <td>D</td>
            <td>Cash Discount </td>
            <td>{{summary_new.Cash.Discount | number}}</td>
          </tr>

          <tr>
            <td>E</td>
            <td>Credit Discount </td>
            <td>{{summary_new.Credit.Discount | number}}</td>
          </tr>
          <tr style="font-weight: bold;color: blue;">
            <td style="font-weight: normal;color:black;">F</td>
            <td>Total Discount (D+E) </td>
            <td>{{summary_new.TotalDiscount | number}}</td>
          </tr>
          <tr>
            <td>G</td>
            <td>Return Cash Sales </td>
            <td>{{summary_new.CashReturn.SubTotal | number}}</td>
          </tr>
          <tr>
            <td>H</td>
            <td>Return Credit Sales </td>
            <td>{{summary_new.CreditReturn.SubTotal | number}}</td>
          </tr>
          <tr style="font-weight: bold;color: blue;">
            <td style="font-weight: normal;color:black;">I</td>
            <td>Total Sales Return (G+H) </td>
            <td>{{summary_new.TotalSalesReturn | number}}</td>
          </tr>
          <tr>
            <td>J</td>
            <td>Return Cash Discount </td>
            <td>{{summary_new.CashReturn.Discount | number}}</td>
          </tr>
          <tr>
            <td>K</td>
            <td>Return Credit Discount </td>
            <td>{{summary_new.CreditReturn.Discount | number}}</td>
          </tr>
          <tr style="font-weight: bold;color: blue;">
            <td style="font-weight: normal;color:black;">L</td>
            <td>Total Return Discount (J+K)</td>
            <td>{{summary_new.TotalReturnDiscount | number}}</td>
          </tr>
          <tr style="font-weight: bold;color: blue;font-size: 16px;">
            <td style="font-weight: normal;color:black;">M</td>
            <td>Net Sales (C-F-I+L) </td>
            <td>{{summary_new.NetSales | number}}</td>
          </tr>
        </table>
      </div>

    </div>

  </div>

  <!-- Below is for backup by Sud.. Remarks: Showing Quantity Total Quantity Fields also -->
  <!-- <div class="row">
    <div class="col-md-5" *ngIf="TotalItemsBillReporttData.length>0" style="margin-top:10px;margin-bottom: 10px;">
      <h4>Summary</h4>
      <div>
        <table border="1" style="width: 80%;">
          <tr>
            <th>
              SN
            </th>
            <th>
              Particulars
            </th>
            <th>
              Quantity
            </th>
            <th>
              Amount
            </th>
          </tr>
          <tr>
            <td>A</td>
            <td>Cash Sales </td>
            <td>{{summary_new.Cash.TotalQty | ParseAmount}}</td>
            <td>{{summary_new.Cash.SubTotal | ParseAmount}}</td>
          </tr>
          <tr>
            <td>B</td>
            <td>Credit Sales </td>
            <td>{{summary_new.Credit.TotalQty | ParseAmount}}</td>
            <td>{{summary_new.Credit.SubTotal | ParseAmount}}</td>
          </tr>
          <tr style="font-weight: bold;color: blue;">
            <td style="font-weight: normal;color:black;">C</td>
            <td>Gross Sales (A+B) </td>
            <td>{{summary_new.TotalSalesQty | ParseAmount}}</td>
            <td>{{summary_new.GrossSales | ParseAmount}}</td>
          </tr>
          <tr>
            <td>D</td>
            <td>Cash Discount </td>
            <td>-</td>
            <td>{{summary_new.Cash.Discount | ParseAmount}}</td>
          </tr>

          <tr>
            <td>E</td>
            <td>Credit Discount </td>
            <td>-</td>
            <td>{{summary_new.Credit.Discount | ParseAmount}}</td>
          </tr>
          <tr style="font-weight: bold;color: blue;">
            <td style="font-weight: normal;color:black;">F</td>
            <td>Total Discount (D+E) </td>
            <td>-</td>
            <td>{{summary_new.TotalDiscount | ParseAmount}}</td>
          </tr>
          <tr>
            <td>G</td>
            <td>Return Cash Sales </td>
            <td>{{summary_new.CashReturn.TotalQty | ParseAmount}}</td>
            <td>{{summary_new.CashReturn.SubTotal | ParseAmount}}</td>
          </tr>
          <tr>
            <td>H</td>
            <td>Return Credit Sales </td>
            <td>{{summary_new.CreditReturn.TotalQty | ParseAmount}}</td>
            <td>{{summary_new.CreditReturn.SubTotal | ParseAmount}}</td>
          </tr>
          <tr style="font-weight: bold;color: blue;">
            <td style="font-weight: normal;color:black;">I</td>
            <td>Total Sales Return (G+H) </td>
            <td>{{summary_new.TotalReturnSalesQty | ParseAmount}}</td>
            <td>{{summary_new.TotalSalesReturn | ParseAmount}}</td>
          </tr>
          <tr>
            <td>J</td>
            <td>Return Cash Discount </td>
            <td>-</td>
            <td>{{summary_new.CashReturn.Discount | ParseAmount}}</td>
          </tr>
          <tr>
            <td>K</td>
            <td>Return Credit Discount </td>
            <td>-</td>
            <td>{{summary_new.CreditReturn.Discount | ParseAmount}}</td>
          </tr>
          <tr style="font-weight: bold;color: blue;">
            <td style="font-weight: normal;color:black;">L</td>
            <td>Total Return Discount (J+K)</td>
            <td>-</td>
            <td>{{summary_new.TotalReturnDiscount | ParseAmount}}</td>
          </tr>
          <tr style="font-weight: bold;color: blue;font-size: 16px;">
            <td style="font-weight: normal;color:black;">M</td>
            <td>Net Sales (C-F-I+L) </td>
            <td>{{summary_new.NetQuantity | ParseAmount}}</td>
            <td>{{summary_new.NetSales | ParseAmount}}</td>
          </tr>
        </table>
      </div>

    </div>

  </div> -->



</div>

<div class="popup-static portlet box portlet-fullscreen custom_modal" *ngIf="AdvanceFilterPopup">
  <div class="portlet-body form">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="modelbox-div clearfix">
          <div class="caption custom-caption" style="margin: 0px">
            <a class="btn btn-danger" (click)="CloseAdvanceSearch()" matTooltip="Cancel">X</a>
            <div>
              <div class="row form-container"
                   style="color: black; margin-top: 20px;margin-left: 2px; margin-right: 2px; border: 1px solid #000000; padding: 10px;">
                <div class="form-group">
                  <div class="row">
                    <label class="control-label col-md-2">Billing Type<b style="float:right;">:</b></label>
                    <div class="col-md-2">
                      <select style="background-color: #f7f7f7;" [(ngModel)]="TotalItemsBillReportAdvanceFilterType.BillingType"
                              [ngModelOptions]="{standalone: true}">
                        <option value="" disabled selected>Select Billing Type</option>
                        <option value="CashSales">CashSales</option>
                        <option value="CreditSales">CreditSales</option>
                        <option value="ReturnCashSales">ReturnCashSales</option>
                        <option value="ReturnCreditSales">ReturnCreditSales</option>
                        <!-- <option value="insurance">Is Insurance</option> -->
                      </select>
                    </div>
                    <label class="control-label col-md-2">Visit Type<b style="float:right;">:</b></label>
                    <div class="col-md-2">
                      <select style="background-color: #f7f7f7;" [(ngModel)]="TotalItemsBillReportAdvanceFilterType.VisitType"
                              [ngModelOptions]="{standalone: true}">
                        <option value="" disabled selected>Select Visit type</option>
                        <option value="inpatient">Inpatient</option>
                        <option value="outpatient">Outpatient</option>
                        <option value="emergency">Emergency</option>
                      </select>
                    </div>

                    <label class="control-label col-md-2">Performer<b style="float:right;">:</b></label>

                    <div class="col-md-2">
                      <input class="form-control" id="doctorName" danphe-auto-complete
                             [(ngModel)]="selectedPerformer" [list-formatter]="DocListFormatter" [source]="filteredDocList"
                             placeholder="Performer's Name" display-property-name="PerformerName" (valueChanged)="AssignSelectedPerformer($event)"
                             onClick="this.select();" max-num-list="10" />

                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <label class="control-label col-md-2"> Department<b style="float:right;">:</b></label>
                    <div class="col-md-2">
                      <input id="id_total_items_bill_report_department" class="form-control" danphe-auto-complete
                             [(ngModel)]="SelectedDepartment"
                             [list-formatter]="DepartmentListFormatter" [source]="Departments"
                             placeholder="Department Name" display-property-name="DepartmentName" onClick="this.select();"
                             (ngModelChange)="AssignSelectedDepartment($event)" match-formatted="true" [grid-sort]="'DepartmentName'"
                             max-num-list="10" [min-chars]="1" />

                    </div>
                    <label class="control-label col-md-2">Service Department<b style="float:right;">:</b></label>
                    <div class="col-md-2">
                      <input id="id_total_items_bill_report_service_department" class="form-control" danphe-auto-complete
                             [(ngModel)]="ServiceDepartment"
                             [list-formatter]="ServiceDepartmentListFormatter" [source]="ServiceDepartments"
                             placeholder="Service Department Name" display-property-name="ServiceDepartmentName" onClick="this.select();"
                             (ngModelChange)="AssignSelectedServiceDepartment($event)" match-formatted="true" [grid-sort]="'ServiceDepartmentName'"
                             max-num-list="10" [min-chars]="1" />

                    </div>
                    <label class="control-label col-md-2">Item Name<b style="float:right;">:</b></label>
                    <div class="col-md-2">
                      <div class="form-group autocomplete-item">
                        <input danphe-auto-complete type="text" class="form-control"
                               display-property-name="ItemName"
                               [list-formatter]="ItemsListFormatter"
                               (ngModelChange)="AssignSelectedItem($event)"
                               [source]="ServiceItems" [(ngModel)]="SelectedItem"
                               value-property-name=null max-num-list="30"
                               onClick="this.select();" [min-chars]="1" match-formatted="true"
                               [match-property-csv]="'ItemCode,ItemName'" [grid-sort]="'ItemName'"
                               style="text-transform: uppercase; overflow: hidden; text-overflow: ellipsis;"
                               placeholder="Item Name">
                      </div>
                    </div>

                  </div>
                  <br>
                  <div class="row">
                    <label class="control-label col-md-2">Prescriber<b style="float:right;">:</b></label>
                    <div class="col-md-2">
                      <input class="form-control" id="doctorName" danphe-auto-complete
                             [(ngModel)]="selectedPrescriber" [list-formatter]="DocListFormatter" [source]="filteredDocList"
                             placeholder="Prescriber's Name" display-property-name="PerformerName" (ngModelChange)="AssignSelectedPrescriber($event)"
                             onClick="this.select();" max-num-list="10" />
                    </div>

                    <label class="control-label col-md-2">Scheme<b style="float:right;">:</b></label>
                    <div class="col-md-2">
                      <select style="background-color: #f7f7f7; width: 150px; overflow: hidden; text-overflow: ellipsis;"
                              [(ngModel)]="selectedSchemePriceCategory" [ngModelOptions]="{standalone: true}" (ngModelChange)="AssignScheme($event)">
                        <option value="" disabled selected>Select a scheme</option>
                        <option *ngFor="let scheme of SchemeList" [value]="scheme.SchemeName">{{ scheme.SchemeName }}</option>
                      </select>
                    </div>

                    <label class="control-label col-md-2">UserName<b style="float:right;">:</b></label>
                    <div class="col-md-2">

                      <input danphe-auto-complete class="form-control" [(ngModel)]="selectedUser"
                             [source]="userList" [list-formatter]="UserListFormatter" placeholder="Enter User Name"
                             (ngModelChange)="AssignUser($event)"
                             display-property-name="EmployeeName" value-property-name="EmployeeId" onclick="this.select();"
                             [ngModelOptions]="{standalone: true}" />
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group row">
                    <div class="col-md-12 col-xs-12">
                      <button class="btn green btn-success pull-right" type="button" (click)="TotalItemsBillReportAdvanceFilter()"
                              [disabled]="loading">
                        <i class="fa fa-search"></i> Search
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>