.hide-row {
  display: none;
}

.backbutton {
  margin-top: 5px;
  padding-left: 0px;
  margin-left: -10px;
}

.searchbar {
  margin-left: -5px;
  padding-left: 0px !important;
}

.printinvoice {
  width: 112px;
}
