<div class="wrapper">
    <div class="row">
        <div class="form-horizontal">
            <div class="form-body">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="form-group">
                            <from-to-date-select (on-change)="OnFromToDateChange($event)"
                                                 [date-settings-name]="'billing-reports'"></from-to-date-select>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-3">{{MembershipSchemeSettings.SchemeLabel}}<b style="float:right">:</b></label>
                                <div class="col-md-8">
                                    <danphe-multiselect *ngIf="AllSchemes.length > 0" [ddl-data]="AllSchemes"
                                                        [pre-selected]="PreSelectedSchemes" [placeholder-text]="'--Select Schemes --'"
                                                        [value-property-name]="'SchemeId'" (selected-items-list)="SchemesChanged($event)"
                                                        [display-property-name]="'SchemeName'" [single-selection]="false">
                                    </danphe-multiselect>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label col-md-3">Rank<b style="float:right">:</b></label>
                                <div class="col-md-8">
                                    <danphe-multiselect *ngIf="AllRanks.length > 0" [ddl-data]="AllRanks" [pre-selected]="PreSelectedRanks"
                                                        [placeholder-text]="'--Select Ranks --'" [value-property-name]="'RankId'"
                                                        (selected-items-list)="RanksChanged($event)" [display-property-name]="'RankName'"
                                                        [single-selection]="false">
                                    </danphe-multiselect>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary"
                                    (click)="LoadReport()">Show Report</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <danphe-grid [grid-colDefaults]="TotalDischargedPatientReportGridColumns"
                                     [grid-data]="TotalDischargedPatientReport"
                                     [grid-exportOptions]="gridExportOptions" [grid-showExport]="true" [report-for]="'pharmacy'"
                                     [show-header]="true" [filter-parameters]="FilterParameters" [grid-date-range]="DateRange"
                                     [NepaliDateInGridParams]="NepaliDateInGridSettings">
                        </danphe-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>