.radiologyreport-header {
  display: flex;
  height: 25px;
  margin-top: -10px;
}

.radiologyreportheading {
  margin-right: 5px;
  font-size: 16px;
  color: #666; /* Text color */
  font-weight: bold;
}

.viewradiologyreportdetails {
  margin-right: 3px;
  color: #777;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
  margin-top: 6px;
}

.viewdetails {
  border: 1px solid #888;
  border-radius: 5px !important;
  height: 27px;
  justify-content: center;
  /* width: 50%; */
  float: right;
  margin-left: 0px;
  display: flex;
  align-items: center;
  background-color: white;
  padding-left: 0px;
  padding-right: 0px;
}

.fractionsummary {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* For Tooltip */
.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 150px; /* Increased width for better display */
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px;
  text-align: left; /* Adjusted text alignment */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Added box-shadow for better visibility */
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

.hover-text {
  position: relative;
  display: inline-block;
  margin: 40px;
  font-family: Arial;
  text-align: center;
}

.infoicon {
  color: #666;
  margin-top: 12px;
}

.arrowicon {
  color: #666;
  font-weight: 700;
}
.chart-container {
  width: 90%;
  height: 450px;
  background-color: none;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: 35px;
  margin-top: 50px;
}

canvas {
  height: 350px;
}

.viewdetails:hover {
  cursor: pointer;
  background-color: #0773bc;
}

.viewdetails:active {
  background-color: #0056a3;
  transform: scale(0.98);
}

.viewdetails:hover .viewradiologyreportdetails {
  color: white;
}

.viewdetails:hover .arrowicon {
  color: white !important;
}

@media only screen and (max-width: 1468px) and (min-width: 768px) {
  .radiologyreportheading {
    font-size: 12px;
    margin-left: -10px;
  }

  .radiologyreport-header {
    margin-top: -20px;
  }

  .infoicon {
    font-size: 11px;
  }

  .arrowicon {
    font-size: 12px;
  }

  .viewdetails {
    width: 80px;
    height: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -10px;
  }

  .viewfractionsummarydetails {
    margin-right: 2px;
    color: #777;
    margin-left: 2px;
    font-size: 10px;
    font-weight: bold;
    margin-top: 6px;
  }

  .viewradiologyreportdetails {
    margin-right: 2px;
    margin-left: 2px;
    font-size: 10px;
    font-weight: bold;
  }
  .topcontainer {
    padding-right: 0px;
  }

  canvas {
    height: 350px !important;
    width: 100% !important;
    margin-left: -30px;
    margin-top: -30px;
  }
  .chart-container {
    height: 400px;
    margin-top: 0px;
  }
}
