<div>
  <h5 style="margin-left: 10px; font-weight: bold; padding-top: 10px;">Manage Anaesthesia Type</h5>
  <form [formGroup]="AnaesthesiaType.AnaesthesiaTypeValidator" class="form-horizontal hm-form">

    <div class="form-group" style="padding: 0px; margin: 0px;">
      <label class="control-label col-md-2">Anaesthesia Type<sup> *</sup> <b>:</b> </label>
      <div class="col-md-3">
        <div class="col-wrapper">
          <div class="col">
            <input id="id_txt_anaesthesia_type" class="form-control" maxlength="50" type="text"
                   placeholder="AnaesthesiaType" formControlName="AnaesthesiaType"
                   (keyup.enter)="GoToNextElement($event, 'id_checkbox_isActive')" />
            <span class="color-red font-sm" *ngIf="AnaesthesiaType.IsDirty('AnaesthesiaType')"
                  [hidden]="AnaesthesiaType.IsValidCheck('AnaesthesiaType','required')">Anaesthesia Type is required.</span>
          </div>
        </div>
      </div>
      <div class="col-md-1" style="padding: 0px; margin: 3px 0px 0px 10px;">
        <label for="id_checkbox_isActive" class="is-ref mt-checkbox mt-checkbox-outline">
          <input type="checkbox" id="id_checkbox_isActive" formControlName="IsActive" style="cursor: pointer;"
                 (keyup.enter)="GoToNextElement($event, 'id_btn_save_anaesthesia_type')" />
          <span></span>IsActive
        </label>
      </div>
      <div class="col-md-1" style="padding: 0px; margin: 0px 15px;">
        <button id="id_btn_save_anaesthesia_type" class="btn green btn-success" style="float: right; margin-left: 10px;"
                (click)="SaveAnaesthesiaType()">
          {{ IsUpdate? 'Update' : 'Save' }}
        </button>
      </div>
      <div class="col-md-1" style="padding: 0px; margin: 0px;">
        <button id="id_btn_clear_anaesthesia_type" class="btn orange btn-success"
                style="float: left; margin-left: 10px;" (click)="ClearAnaesthesiaTyeFormControls()">
          Clear
        </button>
      </div>
    </div>
  </form>
</div>
<div class="row" style="padding: 10px; margin: 0px;">
  <danphe-grid [grid-colDefaults]="AnaesthesiaGridColumns"
               [grid-data]="AnaesthesiaTypes"
               (grid-actions)="AnaesthesiaTypeGridActions($event)"> </danphe-grid>
</div>