<style>
  th {
    font-size: 13px !important;
  }

  .total-table td {
    padding-bottom: 5px !important;
  }

  .inv_table thead tr th,
  .inv_table tbody tr td {
    padding: 3px !important;
  }

  /*input {
    border-radius: 8px !important;
  }*/

  .fa-question {
    /* top: 6px; */
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
  }

  input.ng-pristine {
    border: 1px solid #ddd;
    height: 30px;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .icon-info {
    margin-left: 2px !important;
    background-color: #2d68ea;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }

  .dv-dup-bill-no {
    background-color: yellow;
    color: black;
    cursor: default;
  }

  .msg-icn-warn {
    color: #c1c112;
    font-size: 17px;
  }

  .verification-card {
    background-color: #e0e9f1;
    padding: 15px;
    display: inline-block;
    border-radius: 5px !important;
    text-align: left;
    width: 100%;
    margin-top: 25px;
  }

  .verification-check {
    background: #fff;
    color: #2185cc;
    padding: 3px 15px;
    margin-bottom: auto;
    border-radius: 5px !important;
    box-shadow: 0px 0px 10px #eee;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
  }

  .verification-check .custom-control-label {
    margin-bottom: 0;
    margin-left: 7px;
    margin-top: 1px;
    font-weight: 600;
  }

  .verification-form-control {
    display: inline-block;
    margin: 10px -15px;
    width: 100%;
  }

  .verification-form-control .btn.btn-sm {
    display: inline-flex;
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 100% !important;
    font-size: 12px !important;
    padding: 10px !important;
    margin: 4px 3px;
  }

  .verification-form-control .verifier {
    padding: 7px 15px;
    background: #4158d3;
    border-radius: 20px !important;
    color: #fff;
    margin-left: 15px;
    font-weight: 500;
    margin-bottom: 0px;
    font-size: 12px;
  }

  .verification-form-control .form-control {
    border: none;
    box-shadow: 0px 4px 10px #eee;
    font-size: 13px;
  }

  .verification-form-control .verifier i {
    margin-right: 5px
  }

  .good-receipt-radio-btn label {
    vertical-align: middle;
  }

  .good-receipt-radio-btn input[type=radio] {
    margin: 4px 5px 0 5px;
  }

  .disable-input-box {
    cursor: not-allowed;
    border: 1px solid #ddd;
    background-color: #eef1f5;
    opacity: 1;
  }
</style>
<div class="row margin-8-tp" *ngIf="!UpdateBirthDetails">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table brth-detail-holder table-bordered">
        <thead>
          <tr>
            <th colspan="7" class="text-center text-capitalize hdr-bg">Birth List</th>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>Cert. No.</th>
            <th>Sex</th>
            <th>Wt.(gm)</th>
            <th>Father Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngIf="BabyBirthDetails && BabyBirthDetails.length == 0">
          <tr>
            <td class="text-center" colspan="7">
              <p><strong>No Birth Certificates Data</strong></p>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="BabyBirthDetails && BabyBirthDetails.length > 0">
          <tr *ngFor="let brth of BabyBirthDetails; let b=index;">
            <td>{{brth.CertificateNumber}}</td>
            <td>{{brth.Gender}}</td>
            <td>{{brth.WeightOfBaby}}</td>
            <td>{{brth.FathersName}}</td>
            <td>{{brth.BirthDate | DanpheDateTime: 'format':'YYYY-MM-DD'}}</td>


            <td>{{brth.BirthTime}}</td>
            <th>
              <button style="display: inline-block; border: none;" (click)="EditCurrentBirthDetail(b)"
                      class="margin-7-hr tbl-action-edit" title="edit"><i class="fa fa-edit"></i></button>

              <a *ngIf="!brth.BabyBirthDetailsId && !IsEditMode" (click)="RemoveCurrentBirthDetail(b)"
                 style="display: inline-block;" class="margin-7-hr tbl-action-del" title="delete"><i
                   class="fa fa-close"></i></a>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<form [formGroup]="BirthDetail.BabyBirthDetailsValidator" class="form-horizontal hm-form">

  <div class="form-body">


    <div class="form-group">
      <div class="col-md-5"><label for="certNum" class="control-label lbl-text">Certificate
          Number </label></div>
      <div class="col-md-5">
        <div [ngClass]="{'alert alert-warning':DuplicateCertificateNumber}">
          <input style="width: 250px;" id="certNum" [(ngModel)]="SelectedBabyDetails.CertificateNumber"
                 (ngModelChange)="BirthCertificateNumberDuplicationCheck()" [ngModelOptions]="{standalone:true}"
                 type="text" name="birth-condition" class="cstm-field-ip" />
          <div class="color-red font-sm" *ngIf="DuplicateCertificateNumber">
            <i class="fa fa-warning"></i>Duplicate birth-certificate not allowed
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5"><label for="ddlBirthCondition" class="control-label lbl-text">Condition at Birth
          <sup>*</sup></label>
      </div>
      <div class="col-md-5">
        <select style="width: 250px;" id="ddlBirthCondition" [(ngModel)]="SelectedBabyDetails.BirthConditionId" type="text"
                class="cstm-field-ip" formControlName="BirthConditionId">
          <option value="null">--Please Select--</option>
          <option *ngFor="let brthcondition of BirthConditionList"
                  [ngValue]="brthcondition.BabyBirthConditionId">
            {{brthcondition.BirthConditionType}}</option>
        </select>

        <span class="color-red font-sm" *ngIf="BirthDetail.IsDirty('BirthConditionId')"
              [hidden]="BirthDetail.IsValidCheck('BirthConditionId','required')">Birth Condition is
          Required!</span>
      </div>
    </div>


    <div class="form-group">
      <div class="col-md-5"><label for="Gender" class="control-label lbl-text">Gender
          <sup>*</sup></label></div>
      <div class="col-md-5">
        <select id="Gender" formControlName="Gender" style="width: 250px;" [(ngModel)]="SelectedBabyDetails.Gender">
          <option value="">--Select--</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
        <span class="color-red font-sm" *ngIf="BirthDetail.IsDirty('Gender')"
              [hidden]="BirthDetail.IsValidCheck('Gender','required')">Gender is
          Required!</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5"><label for="babyWt" class="control-label lbl-text">Weight <span
                style="line-height: 2;">(gram)</span>
          <sup>*</sup></label>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-6"><input id="babyWt" style="width: 250px;" formControlName="WeightOfBaby"
                   [(ngModel)]="SelectedBabyDetails.WeightOfBaby" type="number" min="0" class="cstm-field-ip"
                   onwheel="this.blur()" /></div>
        </div>
        <span class="color-red font-sm" *ngIf="BirthDetail.IsDirty('WeightOfBaby')"
              [hidden]="BirthDetail.IsValidCheck('WeightOfBaby','required')">Enter baby
          Weight</span>
        <span class="color-red font-sm" *ngIf="BirthDetail.IsDirty('WeightOfBaby')"
              [hidden]="BirthDetail.IsValidCheck('WeightOfBaby','min')">Weight can't be 0.</span>
        <span class="color-red font-sm" *ngIf="BirthDetail.IsDirty('WeightOfBaby')"
              [hidden]="BirthDetail.IsValidCheck('WeightOfBaby','pattern')">Too long decimal Digits</span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-5"><label for="fatherName" class="control-label lbl-text">Father
          Name</label>
      </div>
      <div class="col-md-5">
        <input style="width: 250px;" id="fatherName" [(ngModel)]="SelectedBabyDetails.FathersName" [ngModelOptions]="{standalone: true}"
               type="text" class="cstm-field-ip" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5">
        <label for="birthDate" class="control-label lbl-text">Birth Date
          <sup>*</sup></label>

      </div>
      <div class="col-md-4" style="width: 250px;">
        <danphe-date-picker formControlName="BirthDate" [(ngModel)]="SelectedBabyDetails.BirthDate"
                            [CalendarTypes]="'en,np'">
        </danphe-date-picker>
        <span class="color-red font-sm" *ngIf="BirthDetail.IsDirty('BirthDate')"
              [hidden]="BirthDetail.IsValidCheck('BirthDate','required')">Enter
          Birth Date</span>
      </div>

    </div>
    <div class="form-group">
      <div class="col-md-5"><label for="birthTime" class="control-label lbl-text">Birth
          Time <sup>*</sup></label>
      </div>
      <div class="col-md-5">
        <input style="width: 250px;" class="cstm-field-ip" id="birthTime" type="time" formControlName="BirthTime"
               [(ngModel)]="SelectedBabyDetails.BirthTime" />
        <span class="color-red font-sm" *ngIf="BirthDetail.IsDirty('BirthTime')"
              [hidden]="BirthDetail.IsValidCheck('BirthTime','required')">Enter Birth
          Time</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5"><label for="ddlBirthNumberType" class="control-label lbl-text">Birth Number Type
        </label>
      </div>
      <div class="col-md-5">
        <select style="width: 250px;" id="ddlBirthNumberType" [(ngModel)]="SelectedBabyDetails.BirthNumberType" type="text"
                class="cstm-field-ip" [ngModelOptions]="{standalone: true}">
          <option value="single">Single</option>
          <option value="twins">Twins</option>
          <option value="multiple">Multiple</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5"><label for="ddlBirthType" class="control-label lbl-text">Birth Type
        </label>
      </div>
      <div class="col-md-5">
        <select style="width: 250px;" id="ddlBirthType" name="BirthType" [(ngModel)]="SelectedBabyDetails.BirthType"
                [ngModelOptions]="{standalone: true}" type="text" class="cstm-field-ip">
          <option [ngValue]="undefined" selected> --Please select-- </option>
          <option *ngFor="let brthTypeItem of BirthTypeList" [ngValue]="brthTypeItem.type">
            {{brthTypeItem.type}}</option>

        </select>

      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5"><label for="certNum" class="control-label lbl-text">Issued By:
        </label></div>
      <div class="col-md-5">
        <input style="width: 250px;" danphe-auto-complete class="form-control" [source]="ProviderList"
               [list-formatter]="myListFormatter" placeholder="Issued By" display-property-name="FullName"
               value-property-name=null (valueChanged)="OnChangeIssuedSignatory()" min-chars="0"
               [(ngModel)]="IssuedSignatory" max-num-list="10" [ngModelOptions]="{standalone: true}" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-5">
        <label for="certNum" class="control-label lbl-text">Certified By:
        </label>
      </div>
      <div class="col-md-5">
        <input style="width: 250px;" danphe-auto-complete class="form-control" [(ngModel)]="CertifiedBy"
               [source]="ProviderList" [list-formatter]="myListFormatter" placeholder="Certified By"
               display-property-name="FullName" value-property-name=null
               (valueChanged)="OnChangeCertifiedSignatory()" min-chars="0" max-num-list="10"
               [ngModelOptions]="{standalone: true}" onClick="this.select();" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-5">
        <label for="certNum" class="control-label lbl-text">
        </label>
      </div>
      <div class="col-md-7">
        <button [attr.disabled]="Loading?true:null" *ngIf="!IsEditMode && !UpdateBirthDetails"
                (click)="AddBirthDetailToList()" class="add-cert btn-pd btn btn-sm btn-primary left"
                style=" margin-top:5px;">Add
          Certificate</button>

        <button [attr.disabled]="Loading?true:null" *ngIf="IsEditMode" (click)="SaveBirthDetail()"
                class="add-cert btn-pd btn btn-sm btn-primary left" style="margin-right:10px;">Update
        </button>
        <button [attr.disabled]="Loading?true:null" *ngIf="UpdateBirthDetails" (click)="UpdateBirthDetail()"
                class="add-cert btn-pd btn btn-sm btn-primary left" style="margin-right:10px;">Update
        </button>
        <button *ngIf="IsEditMode || UpdateBirthDetails" (click)="CancelUpdate()"
                class="cancel-cert btn-pd btn btn-sm btn-danger left" style="margin-right:3px;">Discard</button>
      </div>
    </div>
  </div>
</form>