.full-width-flx {
    display: flex;
    justify-content: center;
}

.form-body {
    width: 100%;
}

.btn-custom-green {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}

.btn-custom-green:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.text-center .btn {
    margin: 0 10px;
}