<style>
  .table-responsive {
    margin: 0 auto;
    width: 100%;
  }

  .table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
  }

  .table-caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  thead th {
    text-align: center;
    vertical-align: middle;
  }

  thead th .select-all-checkbox {
    display: inline-block;
    margin: 0;
    position: relative;
    top: 0;
    transform: translateY(-2px);
  }

  tbody td {
    text-align: center;
    vertical-align: middle;
  }

  .custom-checkbox {
    margin: 0;
    position: relative;
    top: 0;
  }

  .form-check-input {
    width: 1.25rem;
    height: 1.25rem;
  }



  .caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .caption span {
    text-align: center;
  }

  .table-caption {
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
  }

  .custom-checkbox {
    width: 20px;
    height: 20px;
    margin: auto;
  }

  .center-text {
    text-align: center;
  }

  .form-horizontal {
    margin-left: 10px;
    margin-right: 10px;
  }

  .user-mapping-fieldset {
    border-radius: 4px;
  }

  .user-mapping-fieldset legend {
    padding: 0 10px;
    font-size: 12px;
    border-width: 0px;
  }
</style>

<div class="popup-static portlet box portlet-fullscreen custom_modal">
  <div class="portlet-body form">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="modelbox-div ref_modal_div clearfix">
          <div class="caption custom-caption no-margin">
            <h3>
              <span *ngIf="!Update">Add Medical Component Mapping</span>
              <span *ngIf="Update">Update Medical Component Mapping</span>
            </h3>
            <a class="btn btn-danger" (click)="Close()">X</a>
          </div>
          <form [formGroup]="ClinicalUserFieldMapping.ClnFieldMappingsGroup" class="form-horizontal hm-form" style="min-height:240px">
            <div class="row" style="margin-left:1px;margin-right:1px">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="ParentId" class="control-label col-md-4">Document<sup>*</sup><b>:</b></label>
                  <div class="col-md-8">
                    <select id="ParentId" class="form-control" formControlName="ParentHeadingId" (change)="FilterChildHeadingList()"
                            [attr.disabled]="this.Update ? true : null">
                      <!-- <option disabled hidden>Select Parent Heading</option> -->
                      <option *ngFor="let parentHeading of ParentHeadingsList" [value]="parentHeading.ClinicalHeadingId">{{
                        parentHeading.ClinicalHeadingName
                        }}
                      </option>
                    </select>
                    <span class="color-red font-sm"
                          *ngIf="ClinicalUserFieldMapping.ClnFieldMappingsGroup.get('ParentHeadingId').invalid && ClinicalUserFieldMapping.ClnFieldMappingsGroup.get('ParentHeadingId').touched">Document
                      is required</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="HeadingId" class="control-label col-md-4">Section Name<sup>*</sup><b>:</b></label>
                  <div class="col-md-8">
                    <select id="HeadingId" class="form-control" formControlName="ClinicalHeadingId" [attr.disabled]="this.Update ? true : null"
                            (change)="OnSectionSelected($event)">
                      <option *ngFor="let childHeading of FilterChildHeadings" [value]="childHeading.ClinicalHeadingId">{{
                        childHeading.ClinicalHeadingName }}
                      </option>
                    </select>
                    <span class="color-red font-sm"
                          *ngIf="ClinicalUserFieldMapping.ClnFieldMappingsGroup.get('ClinicalHeadingId').invalid && ClinicalUserFieldMapping.ClnFieldMappingsGroup.get('ClinicalHeadingId').touched">Section
                      Name
                      is required</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div style="font-size:8px;color: grey;float:right;margin-right:2%;margin-bottom: -2%;">*For Default Mapping,Proceed Without
                Department/Employee Section</div>
            </div>
            <fieldset class="user-mapping-fieldset">
              <legend>Select User Mapping Type</legend>
              <div class="row" style="margin-bottom: 2%;">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="Department" class="control-label col-md-4">Department<b>:</b></label>
                    <div class="col-md-8">
                      <select id="Department" class="form-control" formControlName="DepartmentId" (change)="FilterEmployeeList()"
                              [attr.disabled]="this.Update ? true : null">
                        <option value="" selected>Select Department</option>
                        <option *ngFor="let department of FilteredDepartmentList" [value]="department.DepartmentId">{{ department.DepartmentName }}
                        </option>
                      </select>
                      <!-- <span class="color-red font-sm"
                          *ngIf="ClinicalUserFieldMapping.ClnFieldMappingsGroup.get('DepartmentId').invalid && ClinicalUserFieldMapping.ClnFieldMappingsGroup.get('DepartmentId').touched">Department
                      is required</span> -->
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="EmployeeName" class="control-label col-md-4">Employee<b>:</b></label>
                    <div class="col-md-8">
                      <select id="EmployeeId" class="form-control" formControlName="EmployeeId" (change)="AssignDepartment()"
                              [attr.disabled]="this.Update ? true : null">
                        <option value="" selected>Select Employee</option>
                        <option *ngFor="let employee of FilteredEmployeeList" [value]="employee.EmployeeId">{{ employee.EmployeeName }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div style="padding:10px 15px">
                <div class="all-buttons text-right">
                  <button type="button" id="load" class="btn blue bordered margin-7-hr" (click)="LoadFields()">
                    Proceed
                  </button>
                  <input type="button" id="clear" class="btn btn-danger margin-7-hr" (click)="ClearFieldMappingForm()" value="Clear"
                         *ngIf="!Update" />
                </div>
              </div>
            </fieldset>
          </form>
          <div *ngIf="ShowComponent" class="table-responsive">
            <div class="table-caption" style="font-size:12px">
              Mapping Type <b>:</b> {{ MappingLabel }}
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th style="width:20%"> <input type="checkbox" class="form-check-input custom-checkbox" [(ngModel)]="SelectAllComponent"
                           (change)="ChangeAllCheckbox()"></th>
                  <th class="center-text" style="width:40%">Medical Component Name</th>
                  <th class="center-text" style="width:40%">Display Sequence</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let field of FieldList">
                  <td class="center-text">
                    <input type="checkbox" class="form-check-input custom-checkbox" [(ngModel)]="field.IsActive" (change)="OnFieldMapping(field)">
                  </td>
                  <td class="center-text">{{ field.FieldName }}</td>
                  <td class="center-text">{{ field.DisplaySequence}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="ShowComponent" class="modelbox-footer">
            <div class="all-buttons text-right">
              <input type="button" id="add" class="btn green btn-success margin-7-hr" (click)="AddUserFieldMappings()" value="Save" />
              <input type="button" id="add" class="btn  btn-danger margin-7-hr" (click)="Close()" value="Close" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>